include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .main
          section.menu-section.fullscreen-section
            .container.container-column
              header.menu__header
                .header__logo
                  a(class='header__logo' href="#") СА
                .header__menu
                  +nav-menu('nav', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
                .header__social
                  ul.social__list
                    each social in ['Instagram', 'Vkontakte', 'Github']
                      li.social__item
                        a(class=`social__link social__link-${social}` href='#' target="_blank")
                          +icon(social, `social__link-pic`)
                #hamburgerButton.hamburger.hamburger--stand
                  .hamburger-box
                    .hamburger-inner
              .author__content
                .content__text Личный сайт веб разработчика
                h1.content__name Сергей Антонов
              .scroll
                a.scroll__desc Скролл
                +icon('Scroll', 'scroll__icon')
          section.greeting
            .container.container-centred
              .greeting__content
                .greeting__desc
                  .greeting__photo
                    +image('greeting/me.png', 'greeting__img')
                  table.greeting__table
                    tr.greeting__tr 
                      td.greeting__td Проживаю:
                      td.greeting__td Севастополь
                    tr.greeting__tr 
                      td.greeting__td Возраст:
                      td.greeting__td 28 лет
                    tr.greeting__tr 
                      td.greeting__td Родился:
                      td.greeting__td 19 марта 1991
                article.greeting__article
                  .greeting__hello Привет, меня зовут
                  h2.greeting__name Сергей Антонов
                  .greeting__what Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .greeting__about Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,100 1000,100 1000,0")
        section.service
          .container
            .services
              .services__title Чем я могу быть полезен вам
              .services__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .services__picture
              +image('services/backpack.png', 'services__img')
            .services__content
              .services__skills
                -
                  var skills = [
                    { title: 'Frontend', skills: [ { name: 'HTML5', percent: 25 }, { name: 'CSS', percent: 15 }, { name: 'Javascript', percent: 75 }, { name: 'Jquery и Vue.js', percent: 25 } ] },
                    { title: 'Workflow', skills: [ { name: 'GIT', percent: 15 }, { name: 'Terminal', percent: 25 }, { name: 'Gulp', percent: 50 }, { name: 'Webpack', percent: 35 } ] }
                  ]
                each group in skills
                  .skills__row
                    .skills__group
                      .skills__group-title #{group.title}
                      .skills__group-items
                        each skill in group.skills
                          .skills__group-item
                            .skill
                              svg.skill__chart(viewBox="0 0 100 100" preserveAspectRatio="none")
                                - var r = 40
                                circle(cx="50" cy="50" r="40" class="skill__circle" fill="none" stroke="#e9e9e9" stroke-width="7")
                                circle(cx="50" cy="50" r="40" class="skill__circle" fill="none" stroke="url(#gradient)" stroke-width="15" stroke-dasharray=`${2 * Math.PI * r}` stroke-dashoffset=`${2 * Math.PI * r * (100 - skill.percent) / 100}`)
                                linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                                  stop(offset="0%" stop-color="#9300e8")
                                  stop(offset="100%" stop-color="#4a00ed")
                              .skill__name #{skill.name}
        section.works
          .container
            .works__title Мои работы
            .works__content
              .works__slider
                .works__slider-display
                  .slider__display(data-index="4")
                    .slider__display-current
                      +image('slider/1.jpg', 'slider__display-img')
                    .slider__display-thumbs
                      .slider__thumbs
                        +slider-thumbs([4, 3, 2, 1], 1)
                        //- - for (var i = 1; i < 5; i++)
                        //-   .slider__thumbs-item
                        //-     +image(`slider/${i}.jpg`, 'slider__thumbs-img')
                    .slider__display-buttons
                      .slider-buttons
                        button.slider__button
                          +icon('Short Arrow', 'slider__button-icon slider__button-icon-prev')
                        button.slider__button
                          +icon('Short Arrow', 'slider__button-icon slider__button-icon-next')
                .works__slider-info
                  .slider-info
                    .slider-info__tags
                      - var tags = [ 'HTML', 'CSS', 'Javascript']
                      ul.slider__tags
                        each tag in tags
                          li.slider__tags-item #{tag}
                    .slider-info__title Сайт школы образования
                    .slider-info__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    a.slider-info__link(href="#" target="_blank")
                      +icon('Link', 'slider-info__link-icon')
                      .slider-info__link-text Посмотреть сайт
        section.reviews
          .container
            .reviews-about
              .reviews-about__header
                .reviews-about__title Что обо мне говорят
                .reviews-about__buttons
                  button.reviews__button
                    +icon('Short Arrow', 'reviews__button-icon reviews__button-icon-prev')
                  button.reviews__button
                    +icon('Short Arrow', 'reviews__button-icon reviews__button-icon-next')
              .reviews-about__slider
                .reviews__slider
                  ul.reviews__list
                    li.reviews__item
                      .reviews__item-quotes
                        +icon('Quote', 'reviews__item-quotes-icon')
                      .reviews__item-desc
                        .reviews__item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                        .reviews__item-authors
                          .reviews__item-avatar
                            +image('reviews/1.png', 'reviews__item-avatar-img')
                          .reviews__item-content
                            .reviews__item-name Ковальчук Дмитрий
                            .reviews__item-position Основатель Loftschool
                    li.reviews__item
                      .reviews__item-quotes
                        +icon('Quote', 'reviews__item-quotes-icon')
                      .reviews__item-desc
                        .reviews__item-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                        .reviews__item-authors
                          .reviews__item-avatar
                            +image('reviews/2.png', 'reviews__item-avatar-img')
                          .reviews__item-content
                            .reviews__item-name Владимир Сабанцев
                            .reviews__item-position Преподаватель

