mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin nav-menu(className, items)
  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          a(class=`${className}__link` href="#")= item

//- mixin svg-list(className, items, percents)
//-   ul(class=`${className}__list`)
//-     - for (var i = 0; i < items; i++)
//-       li(class=`${className}__item`)
//-         svg(class=percentage viewBox="0 0 100 100" preserveAspectRatio="none")
//-           defs
//-             linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
//-               stop(offset="0%" stop-color="#9300e8")
//-               stop(offset="100%" stop-color="#4a00ed")
//-           circle(cx="50" cy="50" r="40" class="circle circle__under")
//-             each percent in percents
//-             circle(cx="50" cy="50" r="40" class="circle circle__above" stroke="url(#gradient)" style=`animation-delay: -${percent}s`)